<nav class="navbar navbar-expand-lg navbar-light bg-light mx-2">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
      </li>
    </ul>
    <div class="btn-group d-flex" role="group" >
      <a id="btnRecipe" type="button" class="dropdown-toggle" data-bs-toggle="dropdown" style="text-decoration: none; color: rgba(0,0,0,.55);"
      aria-expanded="false">Manage</a>
      <ul class="dropdown-menu" aria-labelledby="btnRecipe">
          <li><a class="dropdown-item" href="#">Save Data</a></li>
          <li><a class="dropdown-item" href="#">Fetch Data</a></li>
        </ul>
  </div>
  </div>
</nav>