<div class="row">
    <div class="col-xs-12">
        <img [src]="recipeSelected._imagePath" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <h1>{{recipeSelected._name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="btnRecipe"
                data-bs-toggle="dropdown" aria-expanded="false">
                Manage Recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnRecipe">
                <li><a class="dropdown-item" href="#">To Shopping</a></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipeSelected._description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>